.hero-unit
  %h1 Santa Clarita Election Data
  %p This site contains information about the City of Santa Clarita City Council Elections
  %p
    %a.btn.btn-primary.btn-large Learn more &raquo;

= gmaps4rails(@json)
